<div class="form-page">
  <div class="form-container">
    <div class="title">New Activity</div>
      <%= simple_form_for @list do |form| %>
        <% if @list.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h2>

            <ul>
            <% @list.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <%= form.hidden_field :epic_id, value: params[:epic_id] %>


        <%= form.text_field :name,
          class: "form-control",
          placeholder: 'List name'
        %>

        <%= form.button :submit, "Update", class: "button" %>
      <% end %>

    <div class="shared-links">
      <%= link_to 'Back', project_path(id: @list.project_id), class: 'link' %>
      <%= link_to 'Destroy', @list, method: :delete, data: { confirm: 'Are you sure?' }, class: 'link' %>
    </div>
  </div>
</div>
