<!DOCTYPE html>
<html>
  <head>
    <title>Frame</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-LRlmVvLKVApDVGuspQFnRQJjkv0P7/YFrw84YYQtmYG4nK8c+M+NlmYDCv0rKWpG" crossorigin="anonymous">
  </head>

  <body>


    <% if user_signed_in? %>
      <nav class="navbar navbar-expand-sm navbar-dark fixed-top">
        <%= link_to "Frame", root_path, class: 'navbar-brand' %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample03">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <%= link_to 'Projects', root_path, class: 'nav-link' %>
            </li>
            <li class="nav-item dropdown">

              <a class="nav-link dropdown-toggle" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>

              <div class="dropdown-menu" aria-labelledby="dropdown03">
                <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>

            </li>
          </ul>
        </div>
      </nav>
    <% else %>
      <nav class="navbar navbar-black fixed-top">
        <div class="home-page-container nav-flex">
          <%= link_to "Frame", root_path, class: 'navbar-brand' %>
          <%= link_to "Log In", new_user_session_path, class: "nav-item" %>
          <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %>
        </div>
      </nav>
    <% end %>

    <%= yield %>

  </body>
</html>
